button{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
    color: white;
    border: 1px;
    cursor: pointer;
}

@media(max-width:500px){
    button{
        padding: 10px 20px;
    }
}