.cards{
    background-color: #040916;
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    margin: 100px 0;
    justify-content: center;
    align-items: center;
}

@media(max-width:1160px){
    .cards{
        flex-wrap: wrap;
        padding: 0 40px ;
        font-size: 0.6rem;
    }
}