.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121828;
    gap: 40px;
    padding: 50px 0;
    p{
        margin: 15px 0;
    }
}