
.showcase{
    width: 100%;
    background-color: #121828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 50px;
    font-size: 1.3rem;
    .showcasetext{
        width: 40%;
    }
    .showcasepic{
        width: 40%;
        height: 500px;
        // height: 80%;
        background-image: url(../assets/showcase.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .btns{
        display: flex;
        gap: 30px;
    }
}


@media(max-width:1150px){
    .showcase{
        flex-wrap: wrap;
        .showcasepic{
            width: 70%;
        }
        .showcasetext{
            width: 70%;
        }
    }
}