
.showcase{
    width: 100%;
    background-color: #121828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 50px;
    font-size: 1.3rem;
    .showcasetext{
        width: 40%;
    }
    .showcasepic{
        width: 40%;
        height: 500px;
        // height: 80%;
        background-image: url(../assets/showcase.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .btns{
        display: flex;
        gap: 30px;
    }
}


@media(max-width:1000px){
    .showcase{
        font-size: 1rem;
        gap: 20px;
        padding: 0 10px;
        .showcasepic{
            width: 70%;
            height: 400px;
        }
        .showcasetext{
            width: 70%;
        }
    }
}

@media(max-width:680px){
    .showcase{
        padding: 40px 0;
        flex-wrap: wrap;
    }
}

@media(max-width:450px){
    .showcase{
        .showcasetext{
            p{
                margin: 20px 0;
            }
        }
        .showcasepic{
            height: 300px;
        }
    }
}

@media(max-width:350px){
    .showcase{
        .showcasepic{
            height: 200px;
        }
    }
}